<launch>
  <node name="llm" pkg="taskbot" type="llm_node.py" output="screen"/>
  <node name="camera" pkg="taskbot" type="camera_node.py" output="screen"/>
  <node name="user_interaction" pkg="taskbot" type="user_interaction_node.py" output="screen"/>
  <node name="apriltag_detection" pkg="taskbot" type="apriltag_node.py" output="screen"/>
  <node name="sync" pkg="taskbot" type="sync.py" output="screen">
  <node name="grasping_moveit" pkg="taskbot" type="grasp_moveit_node.py" output="screen"/>
  <node name="logic" pkg="taskbot" type="scenario_logic.py" output="screen"/>
</launch>